:root {
    --primary-1: #001B28; /* Deep blue */
    --primary-2: #002E44; /* Darker blue */
    --secondary: #F77F00; /* Orange */
    --hover-color: #F77F00; /* Bright orange */
    --neutral-accent: #6A7F8D; /* Neutral gray */
    --light-text: #E0E6EA; /* Light gray text */
    --background-shade: #F5F8FA; /* Light background */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-shade);
    color: var(--primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    text-align: center;
    background: linear-gradient(var(--primary-1), var(--primary-2));
    color: var(--light-text);
    height: 100vh; /* Full height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin-bottom: 20px;
}

.logo {
    width: 0vw;
    height: auto;
    margin-top: 3rem;
}

.full-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-page h2 {
    font-size: 3em;
    margin: 0;
}

.full-page p {
    font-size: 1.2em;
    margin: 20px 0;
}

.social-links {
    margin-top: 20px;
}

.social-icon {
    margin: 0 15px;
    font-size: 2em; /* Icon size */
    color: var(--light-text);
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    color: var(--secondary); /* Orange on hover */
    transform: scale(1.1);
}

.contact-me {
    margin-top: 30px;
}

.contact-me a {
    color: var(--secondary); /* Orange for the email link */
    text-decoration: none;
}

.contact-me a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 768px) { .logo { width: 100vw; } }
@media only screen and (min-width: 992px) { .logo { width: 100vw; } }
@media only screen and (min-width: 1200px) { .logo { width: 80vw; } }
@media only screen and (min-width: 1400px) { .logo { width: 70vw; } }